
body
{
    color: white;
font-style:oblique;
background-color: rgb(12, 1, 1); 

}



.r
{
    transition:1s;
    color:rgb(209, 234, 22);
  display: flex ;

 

}

#d
{ 

  border: 2px dashed rgb(16, 15, 13);

  color: darkkhaki;

transition: 1s;
margin: 0 auto; 

width: fit-content;
}


